*{padding: 0;margin: 0;}
body{
    padding: 50px;
}
section{
    width: 100px;
    height: 100px;
    border: 5px solid #000; margin: 50px auto;
    
}
/* 
margin값은 위와 아래서 합쳐졌을 때 더 큰 값이 입력이 된다. 
ex)위50px 아래30px이면 위의 50px의 값이 적용된다. 
위의 margin 50px auto에서 앞의 50px은 위,아래 뒤는 양 옆이다.

transform: 웹요소를 변형시 사용하는 속성
translate(위치이동), rotate(회전,degree=deg 각도), scale(비율), skew(기울기)
transform-origin: 변형의 원점을 설정
transform-origin: 가로원점 세로원점
가로: left center right px %
세호: top center bottom px %

*/
section>div{
    width: 100px;
    height: 100px;
    background: #ccc;
    /* texr-align은 글자의 수평만 조절하게 된다. */
    text-align: center;
    /* 페딩은 박스의 크기를 설정하는 것이기 때문에 아니다padding-top: 50%; */
    line-height: 100px;
    transition: all 2s;
}
#box2:hover div{
    /* 
    translate는 이동하는 속성 
    y축은 아래가 + 이므로 200px시 아래로 200px만큼 이동한다.
    z는 부피를 나타낸다.(공간을 따로 부여해야 한다)
    */
    transform: translate(200px, -300px);
    border-radius: 50%;
}
#box3:hover div{
    /* 
    회전을 나타내는 속성 rotate
    transform: rotateZ(1440deg);
     */
    transform: rotate(2880deg) scale(2);
    border-radius: 50%;
    box-shadow: 0 0 10px yellow;
}
#box4:hover div{
    /* 
    크기를 변환하는 속성
     */
    transform: scale(0.09, 2);
}
#box5:hover div{
    /* x축 10도 y축 20도 */
    transform: skew(10deg, 20deg);
}
#box6:hover div{
    /* 여러 속성을 중복으로 사용 가능하다 */
    transform: translate(400px) rotate(1440deg) scale(2);
}
#box7 div{
    /* 변환 원점 기준점은 기본적으로 가운데
        그러나 transform-origin을 이용하면 x,y축의 원점을 변경할 수 있다.
    */
    /* transform-origin: 50% 50%; */
    /* 오른쪽으로 100% 세로값 중간에서 이동 */
    transform-origin: 100% 50%;
}
#box7:hover div{
    transform: rotate(360deg);
}