#box1, #box2{
    width: 100px;
    height: 100px;
    margin: 50px;
}
/* transition */
#box1{
    background-color: coral;
    border:  1px solid #000;
    transition: background-color 0.8s;
}

#box1:hover{
    background-color: cyan;
}

/* Animation */
#box2{
    background-color: darkblue;
    border:  1px solid #000;
    /* 마우스 호버가 아닌 스스로 움직이게 */
    animation-name: rotate;
    animation-duration: 3s;
}
/* 
@keyframes 애니메이션이름(영문+숫자,영문+영문 가능, 띄어쓰기X 대소문자 구별){
    from{속성:속성값1}               -> 시작점
    to{속성:속성값2(바꾼 속성}       -> 끝점
} 
*/
@keyframes shape{
    from{
        border:  1px solid #000;
    }
    to{
        border: 1px solid #f00;
        border-radius: 50%;
    }
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}

.wrap{
    width: 900px;
    height: 700px;
    border: 1px solid #000;
    margin: 50px auto 300px;
}
.box{
    width: 200px;
    height: 200px;
    background: rgb(233, 235, 219);
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    color: rgb(121, 67, 121);
    box-shadow: 0 0 10px rgb(11, 235, 23);
}
@keyframes ro1{
    /* 0~100% 사이의 값으로 설정을 할 수 있다. */
    0%{
        transform: translate(0,0) rotate(0deg);
    }
    50%{
        transform: translate(300px, 300px) rotate(360deg);
    }
    70%{
        transform: translate(600px,0) rotate(720deg);
    }
    100%{
        transform: translate(0,0) rotate(0deg);
    }
}
.wrap:hover .box{
    animation-name: ro1;
    animation-duration: 3s;
}