@charset "utf-8";

/* 초기화 */
*{margin: 0;padding: 0;}
body,html{width: 100%;height: 100%;font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
a{text-decoration: none;}
button,a,input{border:0;outline: 0;}

/* 공통서식 */
.wrap{
    /* 기계마다 해상도가 다르니 100%로 보여주게 한다 */
    width: 100%;
    height: 100%;
}
.page{
    /* 각각의 페이지마다 초기화를 해줘야 하기 때문 */
    clear: both;
    width: 100%;
    height: 100%;
    position: relative;
}
.page_wrap{
    width: 1280px;
    margin: 0 auto;
    
}
#hd{
    width: 100%;
    height: 42px;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
}
#hd #tnb_lang{
    float: left;
}
#hd #tnb_skip{
    float: right;
}
#hd nav li{
    float: left;
    padding: 0 10px;
    font-weight: bold;
    position: relative;
}
#hd nav li::after{
    /* width는 100%  한 줄에 하나만 쓴다.*/
    display: block;
    /* after은 content부터 시작을 한다 텍스트나 이미지 추가*/
    content: "|";
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 10px;
    color: #ddd;
}
#hd nav li:last-child:after{
    /* 제일 끝에는 생략하기 위해 마지막을 이렇게 처리해줘요 */
    content: "";
}
#hd nav li a{
    /* display: block;   링크의 영역을 넓게 해주는 역할이에요
    인라인 요소를 블럭으로 나꿔줍니다. width값을 100%로 넓혀주는
    부분도 있다. a태그는 인라인 요소여서 대부분 a태그에는 block
    처리를 해주고 있어요.*/
    display: block;
    color: aliceblue;
    line-height: 42px;
    font-size: 14px;
}
#hd nav li a:hover{
    color: chocolate;
}

/* 열기 버튼 */
.open_btn{
    display: block;
    width: 57px;
    height: 51px;
    position: fixed;
    top: 120px;
    left: 150px;
    /* z-index 는 다른 것들보다 위에 있어야 함*/
    z-index: 50;
    background-image: url(data/main_sprite_pannel.png);
    background-repeat: no-repeat;
    background-position: -133px -145px;
    /* 텍스트를 화면 밖으로 미는 역할 */
    text-indent: -9999px;
    cursor: pointer;
}
/* ck1이 체크된 상태라면 형제과계에 있는 #gnb가 화면 안쪽으로(left0) */
#ck1:checked ~ #gnb{
    left: 0;
}
/* 체크박스 안보이게 처리 */
#ck1{
    display: none;
}
/* 사이드 메뉴 */
#gnb{
    position: fixed;
    top: 0;
    left: -310px;
    z-index: 99;
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255,255, 0.8);
    border-right: 3px solid #ccc;
    transition: 0.5s;
}
.close_btn{
    display: block;
    width: 36px;
    height: 33px;
    background-image: url(data/main_sprite_pannel.png);
    background-repeat: no-repeat;
    background-position: -195px -145px;
    text-indent: -9999px;
    cursor: pointer;
    float: right;
    margin: 15px;
}
.main{
    /* 상당과 하단의 메뉴를 떨어트리기 위함 */
    clear: both;
    margin-top: 80px;
}
.main li{
    /* padding-bottom: 30px;  아래와 같음 */
    line-height: 46px;
}
.main li a{
    /* display: block; 을 써주면 높이와 넓이를 100%로 해주기 때문에 a태그의 색상이 전체를 차지하게 된다*/
    display: block;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.main li a:hover{
    color: white;
    /* background: #ccc; */
    opacity: 70%;
    color: #fc3c08;
    text-decoration: underline;
}
.bottom{
    margin-top: 80px;
}
.bottom li{
    line-height: 32px;
}
.bottom li a{
    display: block;
    color: #fc3c08;
    text-indent: 20px;
    font-weight: bold;
}
.bottom li a:hover{

}
