*{padding: 0;margin: 0;}
html,body{margin: 2%;}
div.flip_3d{
    perspective:  1200px; 
    width: 28%; 
    margin: 2%; 
    border: 2px solid #f00;
    display: inline-block;
    cursor: pointer;
}
div.flip_3d figure{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}
div.flip_3d figure img{
    display: block;
    width: 100%;
    height: auto;
}
div.flip_3d figure figcaption{
    /* absolute 절대적인, 무조건 */
    position: absolute;
    top: 0;
    left: 0;    
    background-color: rgba(255, 255, 0, 0.9);
    font-size: 1.6em;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 45%;
    /* 보더값까지 포함하라는 속성 (패딩이랑 마진을포함 한 값이 100% 인것)*/
    box-sizing: border-box;
    transform: rotateY(180deg);
    /* 뒷면 가시성: hidden -> 숨기기 */
    backface-visibility: hidden;
}
div.flip_3d:hover figure{
    transform: rotateY(180deg);
}

