*{padding: 0;margin: 0;}
html, body{
    width: 100%; height: 100%;
}
.wrap{
    width: 90%;
    height: 300px;
    border: 1px solid #000;
    margin-bottom: 50px;
    position: relative;
}
/* 가상의 공간 생성 */
.clearfix{
    width: 100%;
    height: 100px;
    /* background: blanchedalmond; */
}
/* .wrap> div{} */
/* 속성 선택자 방법 위와 같음 */
/* [class*="box"]{} */
.wrap > div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: rgb(238, 236, 229);
    box-shadow: 0 0 10px crimson;
    animation-name: roAni;
    animation-duration: 3s;
    position: absolute;
}

h2{
    font-size: 0.5em;
    /* 소문자를 대문자로 */
    text-transform: uppercase;
    font-weight: normal;
}
/* 
animation-direction 애니메이션 방향
nomal(기본값): from에서 to로 진행
reverse: to에서 from으로 진행
alternate: from에서 to로 진행, to에서 from으로 진행(주로 쓰임)
alternate-reverse; to에서from으로 진행, from에서 to로 진행
animation-iteration-count: 애니메이션 실행 횟수
양의 정수를 써야함
*/
.box1{
    background: rgb(115, 102, 230);
    animation-timing-function: ease;
}
.box2{
    background: rgb(238, 228, 141);
    animation-timing-function: ease-in;
}
.box3{
    background: rgb(0, 195, 255);
    animation-timing-function: ease-in-out;
}
.box4{
    background: rgb(202, 234, 238);
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(.19,.7,.76,.2);
}

@keyframes roAni{
    0%{
        left:0;
        transform:  rotate(0deg);
    }
    50%{
        left: 1000px;
        transform: rotate(720deg);
    }
    100%{
        left: 0px;
        transform: rotate(-720deg);
    }
}