<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>금찌 사이트</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- 전통적인 div태그로 레이아웃을 만들어 봅시다. -->
    <div class="wrap">
        <div class="header">
            <!-- 대부분 로고가 먼저 눈에 보입니다. 그럼 어떻게 하실지 감이 잡히시죠? -->
            <h1 class="logo">
                <a href="index.html">
                    <img src="images/logo.jpg" alt="GUMZZILOGO">
                </a>
            </h1>
            <!-- div태그를 사용해서 블럭처럼 만들어 봅시다. *참고로 ul도 블럭속성 이에요.-->
            <!-- a태그에 메뉴가 5개가 있는 것이 아니라 li태그에 있는 것이죠, a태그에 *5를 하면 li에5개의 링크가 걸려요. -->
            <div class="gnb">
                <ul>
                    <li><a href="#">SkinCare</a></li>
                    <li><a href="#">BodyCare</a></li>
                    <li><a href="#">NailCare</a></li>
                    <li><a href="#">Make Up </a></li>
                    <li><a href="#">Perfume</a></li>
                </ul>
            </div>
        </div>
        <div class="visual">
            <img src="images/mainimg.jpg" alt="main image">
        </div>
        <div class="main">
            <!-- 이미지 태그는 따로 걸지 않을게요 -->
            <div>
                <p>
                    <a href="#">
                        [G-cosmetic]<br>
                        NEW 골드업 립스틱 <br>
                        7가지 컬러에 폭~빠져봐요 <br>
                        5%할인
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <a href="#">
                        [G-cosmetic]<br>
                        골드업 크림 아이라이너<br>
                        바이올렛/골드 워터프루프<br>
                        립앤아이리무버 5%할인
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <a href="#">
                        [G-cosmetic]<br>
                        골드업 매니큐어 시즌7<br>
                        #73 피치블루밍(13g)<br>
                        5종셋트 10%할인
                    </a>
                </p>
            </div>
        </div>
        <div class="footer">
            <p>
                사업장 소재지 : 서울시 동대문구 용두동 119-15번지 여의주빌딩. 사업자명 : (주)금상첨화. 대표자 : 홍길동 <br>
                사업자등록번호 : 000-00-00000. 통신판매신고번호 : 서울 - 000호. 고객센터 : 1544-3896
            </p>
        </div>
    </div>
</body>
</html>