@charset "UTF-8";
/* GNB */

body{
    width: 100%;
}
#hd{
    width: 1200px;
    height: 80px;
    background: #fff;
    position: absolute;
    top: 0;
    /* absolute와 margin auto는 먹히지 않아서 직접 바꿔줘야 한다 */
    /* margin: 0 auto; */
    left: calc(50% - 600px);
    z-index: 10;
    /* 부드럽게 이동하기 위함 */
    transition: all 0.5s;
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.5s;

}
#gnb{
    position: absolute;
    right: 10px;
    top: 10px;
}
/* #gnb ul{

} */
#gnb ul li{
    float: left;
    padding: 25px 40px;
    /* background: #ccc; */
}
#gnb ul li a{
    font-size: 18px;
    /* background: #aaa; */
    display: block;
    height: 80px;
    font-weight: bold;
    border-top: 2px solid transparent;
    padding: 5px 10px;
    transition: all 0.5s;
}
#gnb ul li a:hover{
    border-top: 2px solid #0381bc;
    color: #0381bc;

}

/* visual */
#visual{
    position: relative;
    width: 100%;
    height: 650px;
    transition:  all 0.5s;
    background-image: url(../img/visual2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: wheat;
    background-position: center center;
}
.v_wrap{
    width: 1200px;
    height: 650px;
    /* background: #ffc; */
    margin: 0 auto;
    position: relative;
}
.txtBox{
    /* 부모 안에서 움직여야 하기 때문에 */
    position: absolute;
    top: 200px;
    width: 450px;
    height: 295px;
    background-image: url(../img/visuals1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
    transition:  all 0.5s;
}
.txtBox h2{
    font-size: 20px;
    color: #fff;
    padding: 40px 0 3px 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.txtBox p{
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    padding: 20px 0 10px 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.txtBox h3{
    font-size: 18px;
    color: #ff9b26;
    padding: 30px 0 10px 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.txtBox select{
    margin: 30px 0 0 40px;
    width: 200px;
    height: 40px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 3px;
    border-radius: 8px;
    font-weight: bold;
}
.txtBox select option{
    color: #454545;
}

/* content1 */
#content1{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#content1::after{
    clear: both;
    content: '';
    display: block;
}
#content1 > div{
    padding: 5px;
    transition: all 0.5s;
    /* border: 1px solid #f00; */
    float: left;
}
#content1 > div > div{
    padding: 5px;
    transition: all 0.5s;
    border: 1px solid #c7c6c6;
    width: 100%;
    height: 100%;
}
.application, .parcel, .information{
    width: 220px;
    height: 190px;
    float: left;
}
.application > div, .parcel > div, .information > div{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.application > div{
    background-image: url(../img/picBox1.png);
}
.parcel > div{
    background-image: url(../img/picBox2.png);
}
.information > div{
    background-image: url(../img/picBox3.png);
}
.application h3, .parcel h3, .information h3{
    color: #fff;
    font-weight: 600;
    font-style: 18px;
    padding: 10px 10px 5px 10px;
}
.application p, .parcel p, .information p {
    color: #fff;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 4px;
}
.application a, .parcel a, .information a{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 26px;
    height: 26px;
    transition: all 0.5s;
    transform: scale(1);
}
.application a img, .parcel a img, .information a img{
    width: 100%;
    height: 100%;
    display: block;
}
.application a:hover, .parcel a:hover, .information a:hover{
    transform: scale(1.3);
}

/* Notice */
.notice{
    width: 540px;
    height: 190px;
    /* float: left; */
}
.notice > div{
    /* !important는 선택자 적용 1순위 */
    border: none !important;
    background-image: url(../img/newspaper.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100px;
    /* 위 좌우 아래 */
    padding: 10px 15px 20px ;
}
.notice > div h2{
    font-size: 20px;
    margin-bottom: 15px;
}
/* table */
.notice > div > ul{
    display: table;
    /* border: 1px solid blue; */
    width: 80%;
}
/* tr */
.notice > div > ul li{
    font-size: 12px;
    padding: 12px 0;
}
/* td */
.notice > div > ul li a{
    width: 75%;
    /* border: 1px solid rgb(33, 33, 110); */
    display: block;
    float: left;
    /* text ... 표시 방법 3가지는 같이 써야함*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* 
    너비를 먼저 정한 후 사용해야 한다.
    white-space: nowrap;
    text-overflow: ellipsis;/clip 글씨 잘림
    overflow: hidden;
*/
/* td */
.notice > div > ul li span{
    width: 20%;
    font-size: 11px;
    /* border: 1px solid rgb(196, 42, 101); */
    display: block;
    float: left;
    font-weight: bold;
}
.notice > div > ul li a:hover{
    font-weight: bold;
    color: #ff6f52;
}
/* 콜센터 */
.call{
    width: 220px;
    height: 280px;
    /* float: left; */
    text-align: center;
}
.call h3{
    margin: 10px 5px;
    font-size: 16px;
    width: 100%;
    /* block는 넓이를 100%를 해주는 것과 같다 */
    display: block;
}
.call span{
    width: 100%;
    /* background: #ccc; */
    font-size: 24px;
    font-weight: bold;
    color: #ef7b15;
}
.call ul{
    width: 100%;
    /* background: #ccc; */
}
.call ul li{
    margin: 10px auto;
    opacity: 1;
    transition: all 0.5s;
    width: 96%;
}

.call ul li a{
    display: block;
    width: 190px;
    height: 54px;
    line-height: 54px;
    /* border: 1px solid #00f; */
    background-repeat: no-repeat;
    background-size: 100% 54px;
    background-position: center center;
}
.call ul li:nth-of-type(1) a{
    background: url(../img/btn51.png);
}
.call ul li:nth-of-type(2) a{
    background: url(../img/btn52.png);
}
.call ul li:nth-of-type(3) a{
    background: url(../img/btn53.png);
}
.call ul li:hover{
    opacity: 0.6;
}
.call span img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
/* 아이콘 버튼6개 */
.icon_btn{
    width: 440px;
    height: 280px;
}
.icon_btn ul{
    width: 100%;
    height: 100%;
}
.icon_btn ul li{
    float: left;
    width: 33.3333%;
    height: 50%;
    text-align: center;
    /* border: 1px solid#00f; */
    padding-top: 25px;
}
.icon_btn ul li a{
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s;
}
.icon_btn ul li a img{
    width: 70px;
    transform: scale(1);
    transition: all 0.5s;
}
.icon_btn ul li a:hover, .icon_btn ul li a:active{
/* active는 누르는 순간 */
    font-size: 15px;
    color: #ef7b15;
}
.icon_btn ul li a:hover img, .icon_btn ul li a:active img{
    transform: scale(1.13);
    transition: all 0.5s;
}
/* LH 청약센터 */
.center{
width: 270px;height: 280px;
}
.center a{
    display: block;
    height: 100%;
    background-image: url(../img/lhbg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right bottom;
    background: 1px solid #c7c6c6;
    background-color: #e9ebf0;
    padding-top: 30px;
    text-align: center;
}
.center a h3{
    color: #454545;
    font-size: 20px;
}
.center a p{
    padding: 10px;
    color: #454545;
    font-size: 12px;
}
/* 분양공고검색 */
.bulletin{
    width: 270px;height: 280px;
    text-align: center;
}
.bulletin h3{
    /* display: block; */
    padding-top: 30px;
    color: #454545;
    font-size: 20px;
}
.bulletin form{
    width: 80%;
    height: 30px;
    border: 1.6px solid blue;
    border-radius: 20px;
    /* 가운데 정렬 */
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 5px;
}
.bulletin form input{
    display: block;
    border: none;
    float: left;
    background-color: transparent;
}
.bulletin form .search_box{
    width: 80%;
    height: 30px;
    margin-left: 10px;
    /* text-indent: 10px;  ml10px 대신 이렇게 해도 무관*/
}
.bulletin form .search_btn{
    /* float: right; */
    width: 20px;
    height: 20px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    text-indent: -9999px;
    color: #454545;
    margin-top: 3px;
}
.bulletin h4{
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
    color: #454545;
}
.bulletin h4 span{
    color: #f00;
}
.bulletin ul{
    margin-top: 20px;
}
.bulletin ul li{
    float: left;
    width: 33.3333%;
    text-align: center;
}
.bulletin ul li a{
    display: block;
}
.banner{
    clear: both;
    width: 1200px;
    height: 110px;
}
/* banner */
.banner{
    clear: both;
    width: 1200px;
    height: 110px;
    border-bottom: 2px solid #0055a2;
}
.banner > div{
    border: none !important;
}
.banner ul{
    width: 100%;
    overflow: hidden;
}
.banner ul li {
    float: left;
    width: 16.6667%;
    height: 82px;
    text-align: center;
}
/* content2 */
#content2{
    clear: both;
    width: 100%;
    background: #e0f6f8';
}
#content2:after{
    content: '';
    clear: both;
    display: block;
}
.con2{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    border-top: 2px solid #0055a2;
    overflow: hidden;
}
.con2 h2{
    font-size: 30px;
    color: #0055a2;
    text-align: center;
    line-height: 80px;
}
.con2 .listWrap{
    width: 285px;
    height: 197px;
    float: left;
    text-align: center;
    margin-right: 20px;
    /* border: 1px solid #f00; */
}
.con2 .listWrap:last-of-type{
    margin-right: 0;
}
.listWrap .list{
    width: 285px;
    height: 197px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    transition: all 0.5s;
    cursor: pointer;
}
.listWrap .list1{
    background-image: url(../img/con21.png);
}
.listWrap .list2{
    background-image: url(../img/con22.jpg);
}
.listWrap .list3{
    background-image: url(../img/con23.jpg);
}
.listWrap .list4{
    background-image: url(../img/con24.jpg);
}
.listWrap .tit{

}
.listWrap p{

}